.meteorTable h3{
    font-size:2rem;
}
.asteroidTableTitle{
    font-size: 18px;
    margin: 12px 0;
    font-weight: 800;
}

thead {
    font-family: courier;
    font-size: 18px;
  }

  thead>tr {
    border-bottom: 2px solid white;
}
  
  tbody {
    font-family: courier;
  }